@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

body,
html {
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4rem;
}

header img {
    max-height: 3.8rem;
}

main {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 3rem 0;
}

div#pokemon-each {
    display: flex;
    background-color: #3c3e44;
    /* background-image: url("./assets/images/pokedex.png"); */
    height: 230px;
    width: 560px;
    border-radius: 0.5rem;
    margin: 4px 0;
}

div#pokemon-dates {
    color: #fff;
}

.name-pokemon {
    text-transform: capitalize;
    font-size: 1.3rem;
}

.name-pokemon:hover {
    transform: scale(1.02);
}

.title-pokemon {
    font-size: 1.1rem;
}

.subtitle-pokemon {
    font-size: 1rem;
}

.type-pokemon {
    text-transform: capitalize;
}

#button-id {
    display: flex;
    justify-content: flex-end;
    padding-right: 3rem;
}

button {
    height: 40px;
    width: 100px;
    color: #fff;
    background-color: #3c3e44;
    border-radius: 0.5rem;
    margin: 1px 0;
    transition: ease-in 0.2s;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer a {
    text-decoration: none;
    text-transform: none;
}

footer a:hover {
    transform: scale(1.05);
}
